@{
    ViewData["Title"] = "Online IT School Milashico";
}
<h2 class="text-uppercase mb-12">@ViewData["Title"]</h2>

Войти в IT
Вступление
Доброго времени суток, уважаемый читатель! Это методичка для базового курса “Войти в IT”. Для курса нужен компьютер с доступом в Internet и Ваше желание. Важно понимать - Не все смогут стать программистами, как не все могут стать хирургами.
Чем является этот курс и что в программе
Базовое введение в Computer Science. После него вы вряд ли найдете себе работу в 6 нулями, но это можно рассматривать как первые шаги в этом направлении.
Курс будет состоять из 3 частей 
Вступительной, где мы рассмотрим профессию и разные специализации, так что вы будете иметь представление кем вы хотите стать. Рассмотрим какие бывают языки программирования, почему их много, структуры данных, основные операторы на примере языка C#
Введение в OOП, правила хорошего кодирования, покрытие кода тестами и зачем это нужно, некоторые шаблоны проектирования
Прикладная, где мы поработаем с базами данных, создадим веб сайт, веб сервисы и разместим сайт на хостинге
Программа может меняться. Могут быть лекции мастер-классы по другим темам: тестирование, опыт создания своего Startup etc

Вам потребуется:
Понимание что постоянно нужно будет учиться, ибо технологии быстро меняются
Уметь учиться на ошибках и постоянно пробовать и совершенствоваться
Математический/инженерный склад ума
Дальше, допустим это все у Вас есть. Посмотрим на шаг вперед. Вы прошли базовые курсы, взяли дополнительные, заплатили за какую-то сертификацию.
Вы захотите для начала устроиться интерном либо пойти работать не небольшие деньги, чтоб продолжать совершенствоваться в “боевых условиях”. Компаниям часто нужны молодые студенты, которые учатся в универах на соотв. специальностях имеют хорошие оценки. Если вы уже постарше и не имеете опыта в специальности – Вам скорее всего придется устраиваться куда-нибудь на небольшие деньги, при этом придумывая фейковый опыт работы и навыки. It is what it is, как говорят в Штатах. Очень важен английский, потому что документация и общение в основном на нем. Важно это понимать и понять для себя хотите ли вы этим заниматься.
Далее нужно понимать свое место в геополитической карте индустрии. Самые крупные IT компании, такие как Google, Microsoft, Facebook расположены в США. Самые большие стартапы опять же стараются располагаться в Силиконовой Долине Калифорния. Для того чтоб с ними работать опять же важен английский. Если европейские компании часто аутсорсили работу в страны восточной Европы (Украина, Румыния, Польша), то те же американцы обычно аутсорсят в Индию, так как индийцы очень хорошо знают язык + часовые пояса в Индии примерно как в Европе, соотв. Восточная Европа теряет это преимущество. Можно смело сказать что Индия с ее миллиардом жителей самый большой рассадник программистов в мире. 
В Украине самый большой кусок работ был в аутсорсинге – люди работают на компании типа EPAM, Luxoft, Ciklum, Infolpulse. Учитывая непонятную геополитическую обстановку в Украине возможно много новых проектов будет отдано в ту же Румынию и Индию. 
Есть компании продуктовые, где вы работаете надо созданием конкретного продукта. Если брать Украину , то это те же SiteCore, Reply, Magento. Здесь немного другая специфика работы. Продуктовые компании платили меньше, но удерживают сотрудников более домашней корп. Культурой.
Гендерность. Согласно acm.org https://cacm.acm.org/magazines/2019/4/235593-a-demographic-snapshot-of-the-it-workforce-in-europe/fulltext
Типичный европейский работник IT – мужчина за 35 лет с соответствующим дипломом. Почти 65% работников в Европе были старше 35. В Украине этот возраст будет поменьше – многие аутсорс компании набирают студентов после ВУЗа или 2-3 года после и продают как старших разработчиков своим западным партнерам. На 2019 год, согласно тому же исследованию, 83% занятых в отрасли были мужчины и это число росло, кроме ряда стран. Опять же это важно знать, чтобы принимать решение насколько серьезно вы хотите всем этим заниматься. Женщины часто занимаются дизайном, управлением проектами, но не сильно любят писать код. Опять же исторически в ВУЗы на IT направления больше идут представители сильного пола.
Далее – этот курс больше направлен на разработку ПО. IT сфера имеет целую экосистему специальностей. Ниже я опишу, чтобы вы понимали, чем еще можно заниматься и выбрали, что Вам по душе и способностям. Это основные, но не все.
Технические
Программист. Пишет программы. Например, сайт для образовательных курсов или новую игру для PlayStation
Тестировщик. Тестирует написанное на первом шаге.
Автоматический тестер – пишет скрипты для автоматизации тестирования. Автоматизирует работу тестировщика, чтобы можно было нажав кнопку протестировать все test cases, записанные в test plan.
Тим лидер – управляет небольшой группой разработки.
Архитектор – проектирует программные системы, потом по этому дизайну потом пишутся программы. Проектирует игру на PlayStation. Как писать, на чем писать, какие использовать языки и технологии. Учитывает требования по нагрузке.
DevOps – когда программа написана, нужно автоматизировать процесс ее загрузки на test, stage, pre-prod, prod среды. Для соответственно тестирования, нагрузочного тестирования, финального (production) environments. Пример – “собрать” и “выложить” игру на тестовый PlayStation, чтобы тестеры смоги запустить свои скрипты и проверить как все работает. 
Performance тестер – в больших компаниях есть целые отделы, которые следят за тем насколько быстро работают программы и какую нагрузку они могут выдержать. Хороший пример – это убедиться, что если на сайт нашего курса обучения зайдет 1 миллион человек не свалится ли он 😊
Администраторы
Системные
Специализированные (баз данных, сети, мониторинг, безопасность)
Управленческие
Менеджер проекта (PM) = управляет командой разработки в плане сроков, бюджета
Продуктовый менеджер. Отвечает за продукт целиком. В это обычно входит сбор требований, опросы клиентов, работа с разными подкомандами.  Может быть и проектным менеджером или тесно работать с ним
Scrum master – обычно это проектный менеджер. Scrum, Kanban, Agile, XP, Waterfall – это виды разработки проектов. Scrum наверно самый популярный поэтому вынес в отдельную подкатегорию. Вы можете более детально почитать про это в списке литературы, но в двух словах – это набор правил и практик для написания готового продукта в кратчайшие сроки.
Дизайн
Designer/Web designer – Пример. проектирует графику игры
Верстальщик – в случае с веб-дизайном – задача аккуратно перенести то, что подал designer в HTML.
UX дизайн – работает над созданием “правильного” интерфейса пользователя. Чтоб той же игрой было удобно пользоваться и для того, чтобы делать базовые вещи нужно было делать малое кол-во кликов.
Дата-аналитик
