@charset "UTF-8";

body {
    min-height: 100vh;
    display: flex;
    background-color: #f2f2f2;
    color: #515469;
}

hr {
    background-color: currentColor;
    min-width: 50%;
    height: 3px;
    border: none;
    margin: auto;
    position: relative;
}

    hr:before {
        font-family: cursive;
        content: "№❦";
        display: block;
        width: 20%;
        padding: 0.3em;
        font-size: 2em;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: #f2f2f2;
        transform: translate(-50%, -50%);
    }
