@{
    ViewData["Title"] = "Homework";
}
<h1>@ViewData["Title"]</h1>


<div class="col-lg-12 ms-auto" id="lesson1Content">
    <p class="lead">
        Прочесть про алгоритмы. Спрингер - Гид по Computer Science
        <a href="https://drive.google.com/drive/folders/1sny5Xm3OtA2bgbEC7lF0XpoCF6cZuyxE">Ссылка на книгу</a>    
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson2Content">
    <p class="lead">
    <h5>Создать свой прототип в Balsamiq и свой web-site</h5>
    <ol class="">
        <li class=" ">Просмотреть презентацию и следовать инструкциям</li>
        <li class=" ">Изучить Balsamiq, поиграться, создать свой макет сайта</li>
        <li class=" ">Пользуясь инструкцией в презентации, создать свой web-site</li>
        <li class=" ">О себе, своем бизнесе, свой блог и т.п</li>
    </ol>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson3Content">
    <p class="lead">
        Создать свой GitRepo, Создать HelloWolrd приложение в C#, загрузить в GitLab
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson4Content">
    <p class="lead">
        Создать свой GitRepo, Создать HelloWolrd приложение в C#, загрузить в GitLab
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson5Content">
    <p class="lead">
        Изучить материалы с https://www.w3schools.com/cs/index.php до C# Classes. Порешать задания на этом сайте<
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson6Content">
    <p class="lead">
    <h5>Программа для приветcтвия пользователя</h5>
    <ol class="">
        <li class=" ">Запросить у пользователя его имя и считать ввод. Использовать Console.WriteLIne, Console.ReadLine()</li>
        <li class=" ">Запросить возраст и пол</li>
        <li class=" ">Если пользователь - женщина старше 40 - вывести . Hello Mrs. + Username</li>
        <li class=" ">Если пользователь - женщина моложе 40 - вывести . Hello Miss. + Username</li>
        <li class=" ">Если пользователь - мужчина, то вывести . Hello Mister. + Username</li>
    </ol>

    <h5>Программа для вычисления площади геометрических фигур</h5>
    <ol class="">
        <li class=" ">Используя цикл while запросить у пользователя вводить букву C (для круга) или S (для квадрата) до тех пор пока он не рещить закочить введение нажав Q</li>
        <li class=" ">В теле цикла while проверять если введено C - запросить радиус круга. После чтения - создать переменную типа Circle и добавить в массив Circle[]</li>
        <li class=" ">В теле цикла while проверять если введено S - запросить сторону квадрата. После чтения - создать переменную типа Square и добавить в массив Square[]
        </li>
        <li class=" ">Инициализировать выщеуказанные массивы перед циклом while
        </li>
        <li class=" ">После выхода из цикла while - использовать оператор for для Circle[] и foreach для Square[]
            для того чтобы просуммировать общую площадь всез фигур, введенных пользователем
        </li>
        <li class=" ">Площдь круга - Math.Pow(circle.Radius, 2) * Math.Pi, Площаль квадрата - Math.Pow(square.side, 2)
        </li>
        <li class=" ">Вывести результат на экран
        </li>
    </ol>
    </p>
</div>


<div class="col-lg-12 ms-auto" id="lesson7Content">
    <p class="lead">
    <h5>Изучить материалы с https://www.w3schools.com/cs/index.php начиная с C# Classes и до конца. Порешать задания на этом сайте</h5>
    </p>
</div>

<div class="col-lg-12" id="lesson8Content">
    <p class="lead">
    <h5>Сделать похожую программу примерам с животными - на графических обьектах : Square and Circle</h5>
    <ol class="">
        <li class=" ">Cделать отдельный классы Square and Circle</li>
        <li class=" ">Переопределить в них метод Render чтобы отрисовывалось что то похожее. <br />Опять же задание на классы - насколько близко прорисовать - неважно</li>
        <li class=" ">Cделать базовый класс Shape - похожий на animal, вынести базовые вещи типа цвета прорисовки или центральную точку (если нужно) в него</li>
        <li class=" ">Используя полиморфизм создать массив Shape[], заполнить его Circle и Square и отрисовать в цикле</li>
    </ol>
    </p>
</div>
