@{
    ViewData["Title"] = "Presentations";
}
<h1>@ViewData["Title"]</h1>


<div class="col-lg-12 ms-auto" id="lesson1Content">
    <p class="lead">
        Презентация по 1 уроку
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson2Content">
    <p class="lead">
    <h2>Домашка по Balsamiq, созданию html сайта</h2>
    <h3>Создать свой прототип в Balsamiq и свой web-site</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Установить и создать прототипа в Balsamiq https://balsamiq.com/wireframes/desktop/</li>
        <li class="list-group-item">Загрузить бесплатную bootstrap тему с https://startbootstrap.com/themes?showPro=false</li>
        <li class="list-group-item">Например https://startbootstrap.com/theme/freelancer free download </li>
        <li class="list-group-item">Распаковываем полученное – проверяем как работает index.html. 
            Показываем как замечательно responsive design при изменении размеров экрана. Копируем скачанную папку и называем ее website</li>
        <li class="list-group-item">Открываем index.html в sublimetext и начинаем менять на наши курсы</li>
        <li class="list-group-item">Добавляем страницы - courses.html, entry.html, spa.html, datascience.html, cart.html</li>
        <li class="list-group-item">Добавляем нужные пункты меню и указываем на созданные до этого страницы</li>
        <li class="list-group-item">Переименовываем Freelancer на “Войти в IT”</li>
        <li class="list-group-item">Меняем header, footer</li>
        <li class="list-group-item">Оставляем только 3 курса, убираем лишнее </li>
        <li class="list-group-item">Меняем в курсах Close на подробнее, меняем тексты</li>
<li class="list-group-item">https://www.w3schools.com/html/default.asp
 - изучаем HTML, CSS
</li>
        <li class="list-group-item">на примере entry.html - делаем список добавляем custom.css, смотрим по w3school селекторы по class And id</li>
        <li class="list-group-item">Изучаем https://getbootstrap.com/docs/5.1/components/accordion/</li>
<li class="list-group-item">на страницу courses добавляем 3 карты</li>
    </ul>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson3Content">
    <p class="lead">
        Домашка по 3 уроку
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson4Content">
    <p class="lead">
        Домашка по 4 уроку
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson5Content">
    <p class="lead">
    <h2>Домашка по Вводу/Выводу с клавиатуры. Логическим операторам</h2>
    <h3>Программа для приветтвия пользователя</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Запросить у пользователя его имя и считать ввод. Использовать Console.WriteLIne, Console.ReadLine()</li>
        <li class="list-group-item">Запросить возраст и пол</li>
        <li class="list-group-item">Если пользователь - женщина старше 40 - вывести . Hello Mrs. + Username</li>
        <li class="list-group-item">Если пользователь - женщина моложе 40 - вывести . Hello Miss. + Username</li>
        <li class="list-group-item">Если пользователь - мужчина, то вывести . Hello Mister. + Username</li>
    </ul>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson6Content">
    <p class="lead">
    <h2>Домашка по Вводу/Выводу с клавиатуры. Логическим операторам</h2>
    <h3>Программа для приветтвия пользователя</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Запросить у пользователя его имя и считать ввод. Использовать Console.WriteLIne, Console.ReadLine()</li>
        <li class="list-group-item">Запросить возраст и пол</li>
        <li class="list-group-item">Если пользователь - женщина старше 40 - вывести . Hello Mrs. + Username</li>
        <li class="list-group-item">Если пользователь - женщина моложе 40 - вывести . Hello Miss. + Username</li>
        <li class="list-group-item">Если пользователь - мужчина, то вывести . Hello Mister. + Username</li>
    </ul>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson7Content">
    <p class="lead">
    <h2>Домашка на циклы, работу с массивами</h2>
    <h3>Программа для вычисления площади геометрических фигур</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Используя цикл while запросить у пользователя вводить букву C (для круга) или S (для квадрата) до тех пор пока он не рещить закочить введение нажав Q</li>
        <li class="list-group-item">В теле цикла while проверять если введено C - запросить радиус круга. После чтения - создать переменную типа Circle и добавить в массив Circle[]</li>
        <li class="list-group-item">В теле цикла while проверять если введено S - запросить сторону квадрата. После чтения - создать переменную типа Square и добавить в массив Square[]
        </li>
        <li class="list-group-item">Инициализировать выщеуказанные массивы перед циклом while
        </li>
        <li class="list-group-item">После выхода из цикла while - использовать оператор for для Circle[] и foreach для Square[]
            для того чтобы просуммировать общую площадь всез фигур, введенных пользователем
        </li>
        <li class="list-group-item">Площдь круга - Math.Pow(circle.Radius, 2) * Math.Pi, Площаль квадрата - Math.Pow(square.side, 2)
        </li>
        <li class="list-group-item">Вывести результат на экран
        </li>
    </ul>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson8Content">
    <p class="lead">
    <h2>Домашка на циклы, работу с массивами</h2>
    <h3>Программа для вычисления площади геометрических фигур</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Используя цикл while запросить у пользователя вводить букву C (для круга) или S (для квадрата) до тех пор пока он не рещить закочить введение нажав Q</li>
        <li class="list-group-item">В теле цикла while проверять если введено C - запросить радиус круга. После чтения - создать переменную типа Circle и добавить в массив Circle[]</li>
        <li class="list-group-item">В теле цикла while проверять если введено S - запросить сторону квадрата. После чтения - создать переменную типа Square и добавить в массив Square[]
        </li>
        <li class="list-group-item">Инициализировать выщеуказанные массивы перед циклом while
        </li>
        <li class="list-group-item">После выхода из цикла while - использовать оператор for для Circle[] и foreach для Square[]
            для того чтобы просуммировать общую площадь всез фигур, введенных пользователем
        </li>
        <li class="list-group-item">Площдь круга - Math.Pow(circle.Radius, 2) * Math.Pi, Площаль квадрата - Math.Pow(square.side, 2)
        </li>
        <li class="list-group-item">Вывести результат на экран
        </li>
    </ul>
    </p>
</div>

<div class="col-lg-12" id="lesson9Content">
    <p class="lead">
    <h2>Домашка по ООП</h2>
    <h3>Сделать похожую прогамму примерам с животными - на графических обьектах : Square and Circle</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Cделать отдельный классы Square and Circle</li>
        <li class="list-group-item">Переопределить в них метод Render чтобы отрисовывалось что то похожее. <br />Опять же задание на классы - насколько близко прорисовать - неважно</li>
        <li class="list-group-item">Cделать базовый класс Shape - похожий на animal, вынести базовые вещи типа цвета прорисовки или центральную точку (если нужно) в него</li>
        <li class="list-group-item">Используя полиморфизм создать массив Shape[], заполнить его Circle и Square и отрисовать в цикле</li>
    </ul>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson10Content">
    <p class="lead">
    <h2>Домашка по ООП</h2>
    <h3>Сделать похожую прогамму примерам с животными - на графических обьектах : Square and Circle</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Cделать отдельный классы Square and Circle</li>
        <li class="list-group-item">Переопределить в них метод Render чтобы отрисовывалось что то похожее. <br />Опять же задание на классы - насколько близко прорисовать - неважно</li>
        <li class="list-group-item">Cделать базовый класс Shape - похожий на animal, вынести базовые вещи типа цвета прорисовки или центральную точку (если нужно) в него</li>
        <li class="list-group-item">Используя полиморфизм создать массив Shape[], заполнить его Circle и Square и отрисовать в цикле</li>
    </ul>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson11Content">
    <p class="lead">
    <h2>Домашка по ООП</h2>
    <h3>Сделать похожую прогамму примерам с животными - на графических обьектах : Square and Circle</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Cделать отдельный классы Square and Circle</li>
        <li class="list-group-item">Переопределить в них метод Render чтобы отрисовывалось что то похожее. <br />Опять же задание на классы - насколько близко прорисовать - неважно</li>
        <li class="list-group-item">Cделать базовый класс Shape - похожий на animal, вынести базовые вещи типа цвета прорисовки или центральную точку (если нужно) в него</li>
        <li class="list-group-item">Используя полиморфизм создать массив Shape[], заполнить его Circle и Square и отрисовать в цикле</li>
    </ul>
    </p>
</div>

<div class="col-lg-12 ms-auto" id="lesson12Content">
    <p class="lead">
    <h2>Домашка по ООП</h2>
    <h3>Сделать похожую прогамму примерам с животными - на графических обьектах : Square and Circle</h3>
    <ul class="list-group justify-content-between">
        <li class="list-group-item">Cделать отдельный классы Square and Circle</li>
        <li class="list-group-item">Переопределить в них метод Render чтобы отрисовывалось что то похожее. <br />Опять же задание на классы - насколько близко прорисовать - неважно</li>
        <li class="list-group-item">Cделать базовый класс Shape - похожий на animal, вынести базовые вещи типа цвета прорисовки или центральную точку (если нужно) в него</li>
        <li class="list-group-item">Используя полиморфизм создать массив Shape[], заполнить его Circle и Square и отрисовать в цикле</li>
    </ul>
    </p>
</div>
