@{
    ViewData["Title"] = "Наши Курсы";
}
<h1 class="text-uppercase mb-12">@ViewData["Title"]</h1>

<div class="row text-white">
    <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
            <div class="txt">
                <h2>Войти в IT. Базовый</h2>
                <p>Курс для всех, даже совсем новичков. Попробуйте абсолютно <b>БЕСПЛАТНО</b></p>
            </div>
        <a asp-area="" asp-controller="Home" asp-action="Schedule" >Посмотреть программу</a>
        <a asp-area="" asp-controller="Cart" asp-action="Subscribe" >Записаться</a>
        </div>
    </div>
</div>
