@{
    ViewData["Title"] = "Наши Курсы";
}
<h1>@ViewData["Title"]</h1>

<div class="row text-white">
    <div class="col">
        <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Войти в IT. Базовый</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Курс для всех, даже совсем новичков. Попробуйте абсолютно <b>БЕСПЛАТНО</b></p>
                    <a asp-area="" asp-controller="Home" asp-action="Schedule" class="btn btn-primary">Посмотреть программу</a>
                    <a asp-area="" asp-controller="Cart" asp-action="Subscribe" class="btn btn-primary">Записаться</a>
                </div>
            </div>
    </div>
</div>
