<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c8d24c4d-b904-4fec-bcb6-9cc991f1b587/resourceGroups/Europe/providers/Microsoft.Web/sites/MilashicoConsulting</ResourceId>
    <ResourceGroup>Europe</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://milashicoconsulting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>50a61a2e-b1a0-4207-91d1-e33e417fe020</ProjectGuid>
    <PublishUrl>https://milashicoconsulting.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MilashicoConsulting</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>